.catalog {
  font-family: "Oswald", "Arial", sans-serif;
}

.catalog__item {
  &--border {
    border-top: 1px solid $borderlightgrey;
  }
}

.catalog__button {
  &--color {
    background-color: $shinegrey;
    color: $darkgrey;
  }
}

.catalog__link {
  text-decoration: none;
}

.catalog__product {
  text-transform: uppercase;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.catalog__feature {
  font-family: "Arial", sans-serif;
  text-transform: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $darkgrey;
}
