.catalog {
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: $desktop) {
    margin-top: 50px;
  }
}

.catalog__wrapper {
  padding: 0 10px;

  @media (min-width: $tablet) {
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  &--border {
    border-top: 1px solid $borderlightgrey;

    @media (min-width: $tablet) {
      border: none;
    }

    @media (min-width: $desktop) {
      border: none;
    }
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;

  &--color {
    font-size: 16px;
    line-height: 20px;
    background-color: $shinegrey;
    color: $darkgrey;
  }
}

.catalog__link {
  text-decoration: none;
}

.catalog__product {
  text-transform: uppercase;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__feature {
  font-family: "Arial", sans-serif;
  text-transform: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $darkgrey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}
