.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &--border {
    border-top: 1px solid $bordergrey;
    border-bottom: 1px solid $bordergrey;

    @media (min-width: $tablet) {
      border: 1px solid $borderwhitegrey;
      padding: 20px 20px;
      margin: 30px 0;
    }
  }

  & textarea::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: $darkgrey;
    padding: 10px 15px;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.fieldset__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  padding-top: 20px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 33px;
    height: 2px;
    width: 100px;
    background-color: $basic-green;

  }
}

.fieldset__contact-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.fieldset__add-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }
}

.fieldset__text {
  border: 1px solid $borderwhitegrey;
  padding-bottom: 50px
}
