.form__wrapper {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
    padding-top: 30px;
  }
}

.form__button {
  @media (min-width: $tablet) {
    padding: 13px 45px;
    margin-right: 72px;
  }
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  align-self: center;
  margin: 0;
}
