.form__wrapper {
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding: 0 40px 75px 40px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    padding: 20px 0 67px 0;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 32px 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding: 17px 70px 70px 70px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px 30px 4px 30px;
  }
}

.form__button {
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 62px;
    width: 282px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    width: 568px;
    margin-right: 80px;
  }
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  align-self: center;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
