.html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.html-academy__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18.4px;
  color: $darkgrey;
  text-decoration: none;
  margin-right: 20px;
}
