.link-list {
  background-color: $shinegrey;
  margin-top: -5px;
}

.link-list__wrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding: 20px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 1220px;
  }
}

.link-list__logo {
  text-align: center;
  padding: 40px 0 40px 0;
}
