.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $mobile-only) {
  .page-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 55px 0 20px;
  }
  .page-header__logo img:last-child {
    margin: 0 auto;
  }
}
