.page-header {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
}

.page-header__toggle {
  @media (min-width: $tablet) {
    display: none;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}
