.party {
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--form {
    padding: 18px 20px 6px 20px;
  }

  @media (min-width: $tablet) {
    padding: 0 70px;
    min-height: 205px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 570px;
    height: 200px;
    background-color: $white;
    box-sizing: border-box;
    top: 95px;
    padding: 0 76px;
  }
}

.party__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 155px;
    margin-top: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 20px;
  }
}

.party__text {
  color: $darkgrey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: $tablet) {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 25px;
    margin-right: 2px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    padding-top: 6px;
    margin-right: 6px;
    margin-top: 13px;
  }
}

.party__text br {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
