.party {
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0 70px;
    min-height: 200px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 570px;
    height: 200px;
    background-color: $white;
    box-sizing: border-box;
    top: 95px;
    padding: 0 76px;
  }
}

.party__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
    width: 155px;
    margin-top: 25px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.party__text {
  color: $darkgrey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: $tablet) {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 34px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    padding-top: 6px;
    margin-right: 6px;
    margin-top: 0;
  }
}

.party__text br,
.party__title br {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
