.profit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: $mobile-only) {
    width: 280px;
  }

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.profit__block {
  border: 1px solid $specialgrey;
  border-radius: 3px;
  display: flex;
  min-width: 124px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  margin-bottom: 18px;

  &:first-child {
    margin-right: 28px;

    @media (min-width: $tablet) {
      margin-right: 38px;
    }
  }

  @media (min-width: $tablet) {
    height: 70px;
    min-width: 162px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;
    min-width: 162px;
  }
}

.profit__text {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.profit__legend {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $darkgrey;
  width: 80px;
  text-align: center;
  position: absolute;
  top: 50px;
  z-index: 100;
  background-color: $lightgrey;
  text-transform: lowercase;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    min-width: 115px;
    background-color: $white;
    top: 65px;

    &--size {
      min-width: 140px;
    }
  }

  @media (min-width: $desktop) {
    background-color: $lightgrey;
  }
}

.profit__block-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    margin: 0;
  }
}

.profit__block-text span {
  @media (min-width: $tablet) {
    align-self: flex-end;
    margin-top: 10px;
  }

  @media (min-width: $desktop) {
    margin-left: 62px;
    margin-top: 0;
  }
}
