.program {
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: $desktop) {
    margin-top: 50px;
  }
}

.program__wrapper {
  padding: 25px 20px 0 20px;

  @media (min-width: $tablet) {
    margin: 0 auto;
    padding: 0 70px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 135px;
    padding-bottom: 10px;
  }
}

.program__title {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.program__intro {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.program__form {
  padding-top: 13px;

  @media (min-width: $tablet) {
    padding-top: 10px;
  }

  @media (min-width: $desktop) {
    padding-top: 11px;
    padding-bottom: 77px;
  }
}
