.program {
  font-family: "Oswald", "Arial", sans-serif;
}

.program__intro {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.program__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
