.promo {
  color: $white;
  background-image:
    linear-gradient($promo-green 0%, $promo-green 60%, $white 60%, $white 100%),
    url("../img/promocat-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;

  @media (min-width: $tablet) {
    background-color: $white;
    background-image: none;
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(to right, $white 0%, $white 50%, $promo-green 50%, $promo-green 100%);
    margin-bottom: 80px;
  }
}

.promo__title {
  @media (min-width: $desktop) {
    margin-top: 50px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet) {
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    align-items: flex-start;
    width: 1220px;
    margin: 0 auto;
  }
}

.promo__img {
  @media (min-width: $tablet) {
    width: 709px;
    height: 609px;
    order: 2;
    align-self: center;
  }
}

.promo__slogan {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}
