.services {
  background-color: $white;
}

.services__wrapper {
  padding: 0 10px;

  @media (min-width: $tablet) {
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.services__block {
  background-color: $shinegrey;
  border: 1px solid $bordergrey;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 50px;
  }
}

.services__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  &--slim::before {
    display: inline-block;
    content: "";
    width: 50px;
    height: 53px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      position: absolute;
      right: 0;
      top: 0;
    }

    @media (min-width: $desktop) {
      position: relative;
    }
  }

  &--weight::before {
    display: inline-block;
    content: "";
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-weight.svg");

    @media (min-width: $tablet) {
      position: absolute;
      right: 0;
      top: 0;
    }

    @media (min-width: $desktop) {
      position: relative;
    }
  }
}

.services__link {
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
}
