.slider {
  text-align: center;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.slider__state {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-top: -70px;
  }

  @media (min-width: $desktop) {
    margin-top: -99px;
    padding-bottom: 60px;
  }
}

.slider__toggle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 1px;
    border-bottom: 1px dotted $specialgrey;

    &:hover {
      border-bottom: 1px solid $black;
    }

    &:active {
      border: none;
    }
  }
}

.slider__switch {
  width: 85px;
  height: 15px;
  background-color: $white;
  border-radius: 10px;
  margin: 0 15px 0 15px;
  border: 1px solid $slidergrey;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    width: 438px;
  }
}

.slider__inner {
  margin-left: 5px;
  width: 38px;
  height: 7px;
  background-color: $basic-green;
  border-radius: 5px;
}
