.slider {
  text-align: center;
}

.slider__image {
  @media (min-width: $desktop) {
    margin-right: 200px;
  }
}

.slider__state {
  display: flex;
  justify-content: center;
}

.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
