.social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--border {
    border-top: 1px solid $bordergrey;
    border-bottom: 1px solid $bordergrey;

    @media (min-width: $tablet) {
      border: none;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    width: 130px;
    justify-content: space-between;
    margin-left: 28px;
    margin-top: 13px;
  }
}

@media (max-width: $mobile-only) {
  .social__item {
    padding: 20px 0 16px 0;

    &:first-child {
      margin-right: 35px;
    }

    &:nth-child(2) {
      margin-right: 30px;
    }
  }
}

.social__link {
  &:active {
    opacity: 0.3;
  }
}
