$darkgrey: #444444;
$verydarkgrey: #222222;
$shinegrey: #f2f2f2;
$lightgrey: #eaeaea;
$specialgrey: #c4c4c4;
$borderwhitegrey: #e7e7e7;
$bordergrey: #d9d9d9;
$borderlightgrey: #ebebeb;
$bordershinegrey: #e6e6e6;
$white: #ffffff;
$black: #000000;
$promo-green: rgba(104, 183, 56, 0.85);
$basic-green: #68b738;
$dark-green: #5eaa2f;
$slidergrey: #cdcdcd;
$sliderlightgrey: #dcdcdc;
$whiteopacity: rgba(255, 255, 255, 0.3);
$slidershadow: rgba(0, 0, 0, 0.16);
$rederror: #ff8282;

$tablet: 768px;
$desktop: 1280px;
$mobile-only: 767px;
