$darkgrey: #444444;
$verydarkgrey: #222222;
$shinegrey: #f2f2f2;
$lightgrey: #eaeaea;
$bordergrey: #d9d9d9;
$borderlightgrey: #ebebeb;
$white: #ffffff;
$black: #000000;
$promo-green: rgba(104, 183, 56, 0.85);
$basic-green: #68b738;
